<div class="contact" id="contact">


    <div class="row">
        <div class="col s10 m5 offset-m7 offset-s1 separator"></div>
        <div class="col s10 m4 offset-m7 offset-s1 title-section" data-aos="fade-down-left" data-aos-duration="2000">
            <p>N°4 - </p>
            <p><a>Contact</a></p>
        </div>
    </div>



    <div class="row">
        <p class="col s8 offset-s1 text-email">N'hésitez pas à me contacter <br>
            par <a class="email" href="mailto:ken.fontaine@outlook.fr">EMAIL</a>
        </p>
        <div class="col s3 text-linkedin">Psss, je suis aussi présent sur
            <a class="email" href="https://www.linkedin.com/in/fontaine-ken/" target="_blank">linkedin</a> !
        </div>
    </div>
    <div class="row">
            <div class="col s10 m10 offset-m1 offset-s1 separator"></div>
        <br>
            <div class="col s4 m4 offset-m2 offset-m4 offset-s4 center-align"> Ken Fontaine - </div>
    </div>

</div>