<nav>
    <div class="anm-menu-button">
        <span class="anm-menu-label"></span>
    </div>
    <div class="anm-menu">
        <div class="anm-container">
            <a href="#me">About</a>
            <a href="#projet">Projet</a>
            <a href="#skills">Competences</a>
            <a href="#contact">Contact</a>	
        </div>
    </div>
    <div class="anm-background"></div>
</nav>

<div class="grid home">
    <div class='logo'>
    Le logo
    </div>

    <div class='text-passion'>
        
            
        Un <span class='letter-red'>P</span>assionné</br> 
        pour des</br>
        projets </br>
        <span class='letter-red'>P</span>assionnant.
            
        
    </div>

    <div class='text-role'>

       
            <div class='dev'>DEVELOPPEUR</div>
        
            <div class='web'>WEB ET MOBILE</div>
        
    </div>
</div>