<div class="me" id="home">
    <div class="row">
        <div class="col s10 m5 offset-m7 offset-s1 separator"></div>
        <div class="col s10 m4 offset-m7 offset-s1 title-section" data-aos="fade-down-left" data-aos-duration="2000">
            <p>N°1    - </p>
            <p><a>A propos de moi</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m8 offset-m1 text-me">
            <p>
                <span>Je suis</span>
                <span>
                    <span class="text-name">Ken</span>
                </span>
                <span data-aos="fade-down-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="2000">
                     ,
                 </span>
                <span data-aos="fade-down-right" class="text-stroke-red" data-aos-offset="150" data-aos-easing="ease-in-sine" data-aos-duration="500">
                    developpeur </span>
                <span class="text-stroke-red" data-aos="fade-down-right" data-aos-offset="150" data-aos-easing="ease-in-sine" data-aos-duration="500">
                    web
                </span>
                 <span data-aos="fade-down-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="2000">
                     junior
                 </span>
                <span data-aos="fade-down-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="2000">
                    basé à
                </span>
                <span class="text-stroke-red" data-aos="fade-down-right" data-aos-offset="150" data-aos-easing="ease-in-sine" data-aos-duration="500">
                    Calais
                </span>
                <span data-aos="fade-down-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="2000">
                    sur la côte d'opale.
                </span>
                <br>
                <span data-aos="fade-down-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="2000">
                    Mon parcours
                </span>
                <span class="text-stroke-red" data-aos="fade-down-right" data-aos-offset="150" data-aos-easing="ease-in-sine" data-aos-duration="500">
                    atypique
                </span>
                <span data-aos="fade-down-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="2000">
                    fait de moi un developpeur
                </span>
                <span class="text-stroke-red" data-aos="fade-down-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="500">
                    pas comme les autres.
                </span>

            </p>
        </div>

    </div>



</div>