<div class="project" id="projet">

    <div class="row">
        <div class="col s10 m5 offset-m7 offset-s1 separator"></div>
        <div class="col s10 m4 offset-m7 offset-s1 title-section" data-aos="fade-down-left" data-aos-duration="2000">
            <p>N°2    - </p>
            <p><a>Projets</a></p>
        </div>
    </div>


    <div class="row">
        <div class="col m8 s12 offset-m2 row">

            <div class="projet-desktop col m8 offset-m2 s12">
                <div class="projetun projs"></div>
                <div class="projetdeux projs"></div>
                <div class="projettrois projs"></div>
                <div class="projetquatre projs"></div>
                <div class="fleche"></div>

                <div class="textprojet">
                    <div class="active">
                        <h1><a>GitHub</a></h1>
                        <p>Je vous invite à consulter mon profil GitHub.
                    </div>
                    <div class="inactive">
                        <h1><a>Challenge site vitrine</a></h1>
                        <p>Realisation d'un site vitrine pour une boutique fictive d'horloger</p>
                    </div>
                    <div class="inactive">
                        <h1><a>Challenge jeu "Punta-click"</a></h1>
                        <p>Realisation d'un jeu uniquement en javascript, sans html</p>

                    </div>
                    <div class="inactive">
                        <h1><a>Projet à venir</a></h1>
                        <p>Comming soon</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>