<div class="project" id="projet">

    
        <div class="separator"></div>
        <div class="col s10 m4 offset-m7 offset-s1 title-section" data-aos="fade-down-left" data-aos-duration="2000">
            <p>N°2    - </p>
            <p><a>Projets</a></p>
        </div>



        <section class="anm-horizontal-timeline">
            <div class="anm-timeline">
                <div class="anm-events-wrapper">
                    <div class="anm-events">
                        <ol>
                            
                            <li>
                                <a href="#0" data-date="" class="anm-selected">
                                </a>
                            </li>
                        </ol>
        
                        <span class="anm-filling-line" aria-hidden="true"></span>
                    </div>
                </div>
                    
                <ul class="anm-timeline-navigation">
                    <li><a href="#0" class="prev inactive">Prev</a></li>
                    <li><a href="#0" class="next">Next</a></li>
                </ul>
            </div>
        
            <div class="anm-events-content">
                <ol>
                    
                    <li data-date="" class="anm-selected">
                        <h2>Bidule</h2>
                        <em data-date=""></em>
                        contenue
                    </li>
                </ol>
            </div>
        </section>

